#contact-section {
  grid-row: 2/3;
  grid-column: 2/3;
  position: relative;
  z-index: 2;

  background-color: var(--bg-color);
  transition: transform 500ms ease;
}

// #contact-section.current {
// }
