// MASSIVE SCREENS
@media (min-width: 1450px) {
  :root {
    --main-grid: min-content 1fr / 1fr min-content;
    --nav-row: 1/3;
    --nav-col: 2/3;
    --nav-top: 0;
    --nav-grid: repeat(4, min-content) / 1fr;
    --nav-line-row: 1/2;
    --nav-line-margin: 4vmax 1vmax;
    --nav-grid-place: center;

    --info-margin: 0 10vmax 10vmax 0;

    --title-width: min-content;
    --title-padding: 2vmax 4vmax;
  }
}
// TABLET & DESKTOP
@media (min-width: 600px) and (max-width: 1450px) {
  :root {
    --main-grid: min-content 1fr / 3fr 1fr;
    --nav-row: 1/3;
    --nav-col: 2/3;
    --nav-top: 0;
    --nav-grid: repeat(4, min-content) / 1fr;
    --nav-line-row: 1/2;
    --nav-line-margin: 4vmax 1vmax;
    --nav-grid-place: center;

    --info-margin: 0 0 10vmax 0;

    --title-width: min-content;
    --title-padding: 2vmax 4vmax;
  }
}
// MOBILE
@media (max-width: 600px) {
  :root {
    --main-grid: repeat(3, min-content) / 1fr;
    --nav-row: 3/4;
    --nav-col: 1/2;
    --nav-top: -15vh;
    --nav-grid: 1fr repeat(3, min-content) / repeat(2, min-content);
    --nav-line-row: 1/5;
    --nav-line-margin: 4vmax 4vmax 1vmax 1vmax;
    --nav-grid-place: start;

    --info-margin: 0;

    --title-width: 100%;
    --title-padding: 2vmax 0;
  }
}

#main-section {
  grid-row: 1/2;
  grid-column: 2/3;
  padding: 2rem;
  background-color: var(--bg-color);

  position: relative;
  overflow: hidden;

  #main-content-wrap {
    display: grid;
    grid: var(--main-grid);
    width: 100%;
    height: 100%;

    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  .main-title {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: var(--title-padding);
    width: var(--title-width);
    text-align: center;
    white-space: nowrap;
    z-index: 1;

    > h1 {
      font-size: clamp(3rem, 9vw, 5rem);
      font-family: "Exo", sans-serif;
      font-weight: 500;

      color: transparent;
      animation: var(--bg-animation);
      background-image: var(--bg-gradient);
      background-clip: text;
      background-size: 3000px;
    }

    > p {
      text-align: right;
      font-size: clamp(1.2rem, 2.5vw, 1.5rem);
      font-weight: 400;
      padding-right: clamp(2rem, 5vw, 4rem);

      color: transparent;
      animation: var(--bg-animation);
      background-image: var(--bg-gradient);
      background-clip: text;
      background-size: 3000px;
    }
  }
  .style-line {
    background-image: var(--bg-gradient);
    background-size: 3000px;
    animation: var(--bg-animation);
    width: 2px;
  }

  nav {
    grid-row: var(--nav-row);
    grid-column: var(--nav-col);
    padding: 1rem 4vmax;
    margin-top: var(--nav-top);
    width: min-content;
    display: grid;
    grid: var(--nav-grid);
    place-content: center;
    place-items: var(--nav-grid-place);
    place-self: start;
    overflow: visible;
    position: relative;
    z-index: 1;

    .nav.style-line {
      height: 30vh;
      margin: var(--nav-line-margin);
      grid-row: var(--nav-line-row);
    }

    > button:first-of-type {
      grid-row: 2/3;
    }
    > button:nth-of-type(2) {
      grid-row: 3/4;
    }
    > button:nth-of-type(3) {
      grid-row: 4/5;
    }

    > button {
      border: none;
      padding: 0.5rem;
      font-size: 1.2rem;
      font-weight: 400;
      font-family: inherit;
      text-align: left;
      background-color: transparent;

      position: relative;

      cursor: pointer;
      user-select: none;

      > span {
        display: block;
        transition: 200ms;
        background-image: var(--bg-gradient);
        background-size: 3000px;
        background-clip: text;
        color: transparent;
        animation: var(--bg-animation);
      }
      &:is(:hover, :focus) {
        border: none;
        outline: none;
        filter: blur(1px);
      }
    }
  }

  .main-info {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid: 1fr / repeat(2, min-content);
    gap: 1.5rem;
    place-self: center start;
    position: relative;
    z-index: 1;

    padding: 4vmax;
    margin: var(--info-margin);

    color: transparent;
    background-image: var(--bg-gradient);
    background-size: 3000px;
    background-clip: text;
    animation: var(--bg-animation);

    > div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 1rem;

      > .style-line {
        height: 10vh;
        margin: 1rem 0;
      }

      a {
        text-decoration: none;
        color: transparent;
        cursor: pointer;
        writing-mode: vertical-lr;

        &:hover,
        &:focus {
          outline: none;
          border: none;
          background-image: var(--bg-gradient);
          background-clip: text;
          filter: blur(1px);
        }
      }
    }

    p {
      font-size: 1.2rem;
      white-space: normal;
      width: 17ch;
      font-family: inherit;
    }
  }
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  z-index: 0;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.02);
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  filter: opacity(0.4);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -20vmax;
}
.line:nth-child(1)::after {
  animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 20vmax;
}
.line:nth-child(3)::after {
  animation-delay: 5.5s;
}
.line:nth-child(4) {
  margin-left: -40vmax;
}
.line:nth-child(4)::after {
  animation-delay: 4s;
}
.line:nth-child(5) {
  margin-left: 40vmax;
}
.line:nth-child(5)::after {
  animation-delay: 0.9s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
