// DESKTOP
@media (min-width: 800px) {
  :root {
    --projects-content-grid: 1fr / min-content min-content 1fr;
    --projects-nav-col: 1/2;
    --projects-nav-row: 1/2;
    --projects-selector-col: 2/3;
    --projects-showcase-col: 3/4;
    --project-selector-dir: column;

    --projects-selector-width: 200px;
    --projects-selector-height: 150px;

    --projects-select-wrapper-grid: repeat(auto-fit, 50px) / 1fr;

    --current-project-width: 230px;
    --current-project-height: 54px;

    --projects-showcase-grid: repeat(4, min-content) 1fr / 1fr min-content;
    --showcase-demo-col: 1/3;
    --showcase-images-row: 3/6;
    --showcase-images-col: 2/3;
    --showcase-images-overflow: scroll;
    --showcase-images-height: 50vh;
  }
}
// MOBILE
@media (max-width: 800px) {
  :root {
    --projects-content-grid: min-content 1fr / min-content 1fr;
    --projects-nav-col: 1/2;
    --projects-nav-row: 2/3;
    --projects-selector-col: 1/3;
    --projects-showcase-col: 2/3;
    --project-selector-dir: row;

    --projects-selector-width: 240px;
    --projects-selector-height: 50px;

    --projects-select-wrapper-grid: 1fr / repeat(auto-fit, 200px);

    --current-project-width: 210px;
    --current-project-height: 52px;

    --projects-showcase-grid: repeat(5, min-content) / 1fr;
    --showcase-demo-col: 1/2;
    --showcase-images-row: 5/6;
    --showcase-images-col: 1/2;
    --showcase-images-overflow: hidden;
    --showcase-images-height: min-content;
  }
}

#projects-section {
  grid-row: 1/2;
  grid-column: 3/4;
  position: relative;
  z-index: 2;

  background-color: var(--bg-color);
  transition: transform 500ms ease, padding 500ms 400ms ease;

  &.current #projects-content-wrap > * {
    filter: opacity(0);
    animation: appear 500ms 500ms ease forwards;
  }

  #projects-content-wrap {
    transition: border 500ms 400ms ease;
    max-width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: grid;
    grid: var(--projects-content-grid);

    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: block;
      width: 2px;
      height: 100%;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.15);
      border-radius: 5px;
    }
    scrollbar-width: 2px;
    scrollbar-color: rgba(255, 255, 255, 0.15);

    > nav {
      grid-column: var(--projects-nav-col);
      grid-row: var(--projects-nav-row);
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: 2vmax 0;

      .style-line {
        width: 2px;
        flex-grow: 1;
        margin: 2vmax 0;
      }
      > button > span {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
      }
    }

    #projects-selector {
      grid-column: var(--projects-selector-col);
      grid-row: 1/2;
      height: min-content;
      padding: 4vmax 2vmax;

      display: flex;
      flex-direction: var(--project-selector-dir);
      align-items: center;
      position: relative;

      place-self: center;

      > button {
        padding: 0;
        height: min-content;
        position: relative;
        bottom: -2px;
        svg {
          height: 25px;
          width: 30px;
        }
      }

      #selector-wrapper {
        width: var(--projects-selector-width);
        height: var(--projects-selector-height);
        overflow: hidden;

        outline: 1px solid #fffcb7;

        > div {
          display: grid;
          grid: var(--projects-select-wrapper-grid);
          transition: transform 400ms ease-out;
          width: auto;

          > div {
            display: flex;
            align-items: center;
            gap: 2vmax;
            padding: 1vmax;
            height: 50px;
            width: 200px;
            user-select: none;

            h3 {
              white-space: nowrap;
              font-weight: normal;

              color: transparent;
              animation: var(--bg-animation);
              background-image: var(--bg-gradient);
              background-clip: text;
              background-size: 3000px;
            }

            img {
              width: 30px;
              height: 30px;
            }

            // &.selected-project {
            //   filter: blur(0px);
            // }
          }

          .selector-end {
            .style-line:first-child {
              width: 6px;
              height: 6px;
              border-radius: 50%;
              margin: 12px;
            }
            .style-line:nth-child(2) {
              width: auto;
              height: 2px;
              flex-grow: 1;
              margin-right: 2vmax;
            }
          }
        }
      }

      div.projects-current-wrap {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);

        border: 1px solid #fffcb7;
        width: var(--current-project-width);
        height: var(--current-project-height);

        box-shadow: inset 0px 0px 10px -5px #fffcb7;
      }
    }

    #projects-showcase {
      grid-column: var(--projects-showcase-col);
      place-self: center;

      display: grid;
      grid: var(--projects-showcase-grid);
      gap: 2vmax;

      padding: 4vmax;

      h3,
      a,
      p {
        color: transparent;
        animation: var(--bg-animation);
        background-image: var(--bg-gradient);
        background-clip: text;
        background-size: 3000px;
      }

      > h3 {
        grid-row: 1/2;
        grid-column: 1/2;
        font-size: 2.5rem;
        font-family: "Exo", sans-serif;
        font-weight: 600;
      }

      .projects-to-demo {
        grid-row: 2/3;
        grid-column: var(--showcase-demo-col);

        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;

        .style-line {
          flex-grow: 1;
          height: 2px;
          margin-right: 4vmax;
        }

        > a {
          letter-spacing: 5px;
          font-size: 1.2rem;
        }
        > a:hover,
        a:focus {
          filter: blur(1px);
          outline: none;
          border: none;
        }
      }

      .projects-tech-stack {
        grid-row: 3/4;
        grid-column: 1/2;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1vmax;

        > div {
          position: relative;
        }

        div:hover::before {
          position: absolute;
          content: attr(data-name);
          top: -15px;
          left: 0;
          padding: 2px 5px;
          background: #000;
          outline: 1px solid rgba(255, 255, 255, 0.2);
          font-size: 1rem;
          color: rgba(255, 255, 255, 0.5);
          font-family: "Abel", sans-serif;
          z-index: 3;
        }
      }
      .projects-to-repo {
        height: min-content;
        width: min-content;
        transform: translateY(-3px);
        margin-left: 1vmax;

        letter-spacing: 5px;
        font-size: 1.2rem;
        &:hover,
        &:focus {
          filter: blur(1px);
          outline: none;
          border: none;
        }
      }

      > p {
        grid-row: 4/5;
        grid-column: 1/2;

        font-size: 1.2rem;
        height: min-content;
        padding: 1vmax;
        padding-right: 2vmax;
      }

      #showcase-images {
        grid-row: var(--showcase-images-row);
        grid-column: var(--showcase-images-col);
        min-width: 150px;

        padding: 1vmax;
        display: flex;
        flex-direction: column;
        gap: 2vmax;
        place-self: start center;
        margin-top: 2vmax;
        padding-right: 2rem;

        overflow-x: hidden;
        overflow-y: var(--showcase-images-overflow);
        &::-webkit-scrollbar {
          display: block;
          width: 2px;
          height: 100%;
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, 0.15);
          border-radius: 5px;
        }
        scrollbar-width: 2px;
        scrollbar-color: rgba(255, 255, 255, 0.15);

        height: var(--showcase-images-height);

        > div {
          width: 150px;
          height: min-content;
          padding: 2px;
          background-image: var(--bg-gradient);
          background-size: 3000px;
          animation: var(--bg-animation);
          user-select: none;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            max-width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  &.current .projects-bg {
    display: block;
  }
  .projects-bg {
    display: none;
    position: absolute;
    top: -100px;
    left: -100px;
    bottom: 0;
    right: 0;
    z-index: 0;
    animation: move-grid-bg 5s infinite linear;
    > svg {
      height: calc(100vh + 200px);
      width: calc(100vw + 200px);
      z-index: 0;
    }
  }

  @keyframes move-grid-bg {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: translate(100px, 100px);
    }
  }
}
