* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #161616;
  --bg-gradient: linear-gradient(60deg, #fffcb7 26%, #d5f0e4 60%, #ffccbe 96%);
  --bg-animation: gradient-move 40s infinite alternate linear;

  font-family: "Abel", sans-serif;
  font-size: 16px;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color);
}

#page-grid {
  display: grid;
  grid: repeat(2, 100vh) / repeat(3, 100vw);
  transition: transform 500ms;
  transform: translateX(-100%);
}

#page-grid.projects {
  #projects-section {
    transform: translateX(-100%);
    padding: 2rem;
    #projects-content-wrap {
      border: 1px solid rgba($color: white, $alpha: 0.25);
    }
  }
}

#page-grid.about {
  #about-section {
    transform: translateX(100%);
    padding: 2rem;
    #about-content-wrap {
      border: 1px solid rgba($color: white, $alpha: 0.25);
    }
  }
}

#page-grid.contact {
  #contact-section {
    transform: translateY(-100%);
    padding: 2rem;
    #contact-content-wrap {
      border: 1px solid rgba($color: white, $alpha: 0.25);
    }
  }
}

.style-line {
  background-image: var(--bg-gradient);
  background-size: 3000px;
  animation: var(--bg-animation);
  width: 2px;
}

button {
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: inherit;
  text-align: left;
  background-color: transparent;
  white-space: nowrap;

  position: relative;

  cursor: pointer;
  user-select: none;

  > span {
    letter-spacing: 5px;
    display: block;
    transition: 200ms;
    background-image: var(--bg-gradient);
    background-size: 3000px;
    background-clip: text;
    color: transparent;
    animation: var(--bg-animation);
  }
  &:is(:hover, :focus) {
    border: none;
    outline: none;
    filter: blur(1px);
  }
}

.vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

@keyframes appear {
  0% {
    filter: opacity(0) blur(20px);
  }
  100% {
    filter: opacity(1) blur(0px);
  }
}
@keyframes gradient-move {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
